/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .variable-free-sample-btn{
	float: left;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px; 	
 }