/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.button.alt.woo-free-sample-button {
    margin-left: 20px;
}

@media screen and (max-width: 768px) {
    .button.alt.woo-free-sample-button {
        margin: 20px 0;
    }  
}