/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 .enabled-area{
   display: none;
 }

 .wfp-help-text{
    font-size:11px;
    font-weight: 600;
    font-style: italic;
    margin-left: 7px;
 }



